canvas {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    //background-color: #999;
    transform: scale(1);
    transition: all 0.5s;
}

.fadein {
    //transform: scale(1);
    opacity: 1;
}

.fadeout {
    // transform: scale(3);
    opacity: 0;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    opacity: 0;
    // transform: scale(1);
    transition: all 1.2s;
    transition-delay: 0.1s;
}

.app {
    transform: scale(0.4);
}

body {
    background-color: #122334;
    overflow: hidden;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }
}