canvas {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.fadein {
  opacity: 1;
}

.fadeout {
  opacity: 0;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  opacity: 0;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.app {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
}

body {
  background-color: #122334;
  overflow: hidden;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

