body {
    background-color: #ccc;
}

.orb-container {
    //transform: scale(0.5);

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 1000px;
        height: 1000px;
    }

    #animation-container {
        z-index: 10;

        opacity: 0;
        animation: fade-in 0.6s ease-out, fade-out 0.6s ease-in;
        animation-delay: 1s, 2.1s;
        animation-fill-mode: forwards, forwards;   
    }

    img {
        opacity: 0;
        transform: scale(1.01);
        animation: fade-scale-in 0.6s ease-out;
        animation-delay: 2.2s;
        animation-fill-mode: forwards;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-scale-in {
    0% {
        opacity: 0;
        transform: scale(1.01);
    }

    100% {
        opacity: 1;
        transform: scale(1.0);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}